<<<<<<< HEAD
<h1 class='welcome-h1'>Welcome to BeardCo.</h1>
<h2 class='welcome-tag'>Your online beard care superstore</h2>

<div class="welcome-pic-outer">
	<div class="welcome-pic-inner">
		<%= image_tag('beard1.jpg') %>
	</div>
</div>
=======
<!--<h1>StaticPages#index</h1>-->
<h1>Welcome to Bike-a-palooza</h1>

<%= image_tag('bike.jpg', class: "img-responsive index-pic") %>
<!--erb img tag/ changes to html through the magic of rails-->
<!--class syntax is slightly different in erb, no =, can still add multiple classes.  img-responsive is the bootstrap class to make responsive-->

<h2>Your source for used bikes in Austin, TX</h2>
<p>Welcome!  The date and time is <%= Time.now %></p>

>>>>>>> 4142bde1a6560d184539171d7f93cb8df88da8d5
